# Activation du module de réécriture d'URL :
RewriteEngine on

# Règles de réécriture d'URL :

# 403 Page :
#ErrorDocument 403 /index.php

# 404 Page :
ErrorDocument 404 /index.php

# Cache :
<IfModule mod_headers.c>
# les .ico, .jpg, etc… seront en cache pour 30 jours
<FilesMatch "\.(ico|jpe?g|png|gif|swf|css|gz)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
<FilesMatch "\.(js)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
# Disable caching for scripts and other dynamic files
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
Header unset Cache-Control
</FilesMatch>
</IfModule>