div.card {
	width: 400px;
	padding: 15px;
  border: 1px solid rgba( 0, 0, 0, 0.2 );
	border-radius: 3px 3px 0px 0px;
  margin: 0 auto;
}

div.card p {
	margin: 0 0 15px 0;
}

div.card p.card-title {
	font-size: 20px;
}

div.card p.lock {
	border-top: 1px solid #e5e5e5;
	background-image: url('assets/icones/iconeLock.png');
	background-repeat: no-repeat;
	padding: 6px 0 0 30px;
	height: 30px;
	display: block;
	margin-top: 5px;
	margin-bottom: -10px;
}

div.card p.plus {
	border-top: 1px solid #e5e5e5;
	background-image: url('assets/icones/iconePlus.png');
	background-repeat: no-repeat;
	padding: 6px 0 0 30px;
	height: 30px;
	margin-top: 5px;
	margin-bottom: -10px;
}

div.card p.lock a {
	color: #4285F4;
	text-decoration: none;
	top: 2px;
	position: relative;
}

div.card p.plus a {
	color: #4285F4;
	text-decoration: none;
	margin-left: 8px;
	position: relative;
}

div.card p.url a {
	color: #4285F4;
	text-decoration: none;
	margin-left: 8px;
	position: relative;
}

div.card img.full {
	width: 430px;
	margin: 0 0 15px -15px;
}