ul.listCardFilms {
	width: 300px;
	height: 100%;
	float: left;
	margin-left: -5px;
}

ul.listCardFilms li {
	width: 320px;
	list-style: none;
}

div.cardFilms {
	background: #fff;
	width: 280px;
	padding: 10px;
	color: #444;
	font-size: 14px;
  border: 1px solid rgba( 0, 0, 0, 0.2 );
	border-radius: 3px 3px 0px 0px;
}

div.cardFilms p {
	margin: 0 0 15px 0;
}

div.cardFilms p.card-title {
	font-size: 20px;
}

div.cardFilms p.lock {
	border-top: 1px solid #e5e5e5;
	background-image: url('../assets/icones/iconeLock.png');
	background-repeat: no-repeat;
	padding: 6px 0 0 30px;
	height: 30px;
	margin-bottom: -10px;
}

div.cardFilms p.plus {
	border-top: 1px solid #e5e5e5;
	background-image: url('../assets/icones/iconePlus.png');
	background-repeat: no-repeat;
	padding: 6px 0 0 30px;
	height: 30px;
	margin-bottom: -10px;
}

div.cardFilms p.lock a {
	color: #4285F4;
	text-decoration: none;
	top: 4px;
	width: 385px;
	position: relative;
}

div.cardFilms p.plus a {
	color: #4285F4;
	text-decoration: none;
	margin-left: 8px;
	position: relative;
}

div.cardFilms img.posterSize {
	width: 300px;
	margin: 0 0 10px -10px;
}

.bright {
	filter: brightness(25%);
}

.text {
  position: absolute;
  color: white;
  margin: 0 0 10px -10px;
  width: 300px;
  height: 450px;
  text-align: center;
  z-index: 10;
  opacity : 0;
}