.fab-button {
  border-radius: 50%;
  background: #4285F4;
  color: white;
  font-size: 24px;
  height: 56px;
  margin: auto;
  width: 56px;
  padding: 0;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-align: center;
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 25px;
  z-index: 1;
  font-size: 42px;
}

#add-film {
  margin-bottom: 25px;
  margin-top: 25px;
}

#add-film img {
  margin-top: 5px;
}

#top {
  margin-bottom: 100px;
}